body{
    background-color: grey;
    color: black;
}

#wrapper {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

#subt {
    margin-left: 35%;
    margin-top: 10px;
}

#guess {
    font-size: 50px;
}

#guessField {
    margin-left: 25%;
    margin-top: 15px;
}